
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int w = Request.Browser.ScreenPixelsWidth;
    int h = Request.Browser.ScreenPixelsHeight;
    if (Request.Browser.IsMobileDevice || (w < 720 && h > 720))
    {
        <style>
            .profholder {
                position: fixed;
                background-color: white;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

                .profholder .header {
                    background-color: #82DEED;
                    width: 100%;
                    color: #8d8d8d;
                    padding: 15px;
                    text-align: right;
                    font-size: 18px;
                    font-weight: 600;
                }

                .profholder .content {
                    padding: 15px;
                    text-align: right;
                }

                .profholder .button {
                    border-radius: 15px;
                    padding: 10px;
                    border: 1px solid red;
                    width: 40%;
                    text-align: center;
                    margin: 5px;
                    font-weight: 600;
                    color: red;
                }

            .devider {
                width: 100%;
                margin-top: 20px;
                border-bottom: 1px solid #ddd
            }

            .profholder p {
                float: right;
                display: inline-block
            }

            .profholder i {
                float: left;
                display: inline-block
            }

            .profholder .buttHolder {
                margin: 0;
                padding: 20px;
                font-weight: 600
            }
        </style>
        <div class="profholder">
            <div class="header">
                خانه دان
            </div>
            @{
                string phone = TempData["phone"] as string ;
                TempData.Keep();
                <div class="content">شما با شماره موبایل @phone وارد شده اید و آگهی های مربوط به این شماره را مشاهده میکنید</div>

            }
            <div id="logout" class="button" style=" ">خروج از حساب </div>
            <div class="devider"></div>
            <div id="mydivar" class="buttHolder">

                <p>آکهی های من</p>
                <i class="fal fa-chevron-left"></i>
            </div>
            <div id="savedItem" class="buttHolder">

                <p>آکهی های نشان شده</p>
                <i class="fal fa-chevron-left"></i>
            </div>
            <div id="recentCall" class="buttHolder">

                <p>  بازدید های اخیر</p>
                <i class="fal fa-chevron-left"></i>
            </div>
            <div class="devider"></div>
        </div>

        <script>
            $(".buttHolder").click(function () {
                var id = $(this).attr('id');
                window.location.href = "/Home/list?id=" + id;
            })
        </script>
        <script>
            $(document).ready(function () {
                $(".fa-user").addClass("act")
            })
        </script>

    }
    else
    {

        @section scripts{
            <link href="~/Content/jQuery-plugin-progressbar.css" rel="stylesheet" />
            <script src="~/Scripts/jQuery-plugin-progressbar.js"></script>
        }
        <style>
            .parentSection {
                padding: 10px;
                width: 80%;
                margin: auto;
            }

                .parentSection .rowHolder {
                    margin: auto;
                    text-align: right;
                    margin-bottom: 40px;
                    font-size: 14px;
                }

            .child {
                padding: 15px;
                border-bottom: 1px solid #ddd;
                color: #8d8d8d;
                display: inline-block;
                margin: 0
            }

            .parentSection .rowHolder .active {
                border-bottom: 1px solid red;
                color: red;
                font-weight: 600
            }
        </style>
        <div class="parentSection">
            <div class="rowHolder">
                <p id="recentCall" class="child">بازدید های اخیر</p>
                <p id="savedItem" class="child">اگهی های نشان شده</p>
                <p id="mydivar" class="child active">دیوار من</p>

            </div>
            <div class="contentHolder">

            </div>
        </div>
        <script>
            function getSaved() {
                $.ajax({
                    url: "/Home/GetSaved",
                    dataType: 'html',
                    success: function (data) {
                        $(".contentHolder").html(data);
                    }
                })
            }
            function getOwn() {
                $.ajax({
                    url: "/Home/GetOwn",
                    dataType: 'html',
                    success: function (data) {
                        $(".contentHolder").html(data);
                    }
                })
            }
            function GetLast() {
                $.ajax({
                    url: "/Home/GetLastVisit",
                    dataType: 'html',
                    success: function (data) {
                        $(".contentHolder").html(data);
                    }
                })
            }
            getOwn();

            $(".child").click(function () {
                $(".child").removeClass("active");
                $(this).addClass("active");
                let id = $(this).attr('id');
                switch (id) {
                    case "recentCall":
                        GetLast();
                        break;
                    case "savedItem":
                        getSaved()
                        break;
                    case "mydivar":
                        getOwn();
                        break;
                    default:
                    // code block
                }
            })
                           // getSaved();



          
        </script>


    }
}


<script>
    $("#logout").click(function () {
        $("#loading").fadeIn();
        $.ajax({
            url: "/Home/Logout",
            success: function () {
                window.location.href = "/Home/index";
            }
        })
    })
</script>


