@model   divar.ViewModel.companyInfo.companyInfoVM


<img style="width:40%;margin-bottom:20px" src="@Model.data.company.image"/>
<p >@Model.data.company.title</p>
<p>@Model.data.company.desc_company</p>
<p>@Model.data.company.phone</p>